<div style="margin-bottom: 20px">
  <div (click)="toggleModal(true)">Readme!</div>
  <div *ngIf="modal"
       class="modalWrapper"
       (click)="toggleModal(false)">

    <div class="scroll_upper_row">
      <div class="scroll_cul"></div>
      <div class="scroll_cur"></div>
    </div>

    <div class="scroll">
      Credits<br/><br/>

      * Started from Angular 5 min quickstart (TS)<br/>
      * Ported to be built with Angular cli<br/>
      * Uses tiles and sprites from DawnLike - 16x16 Universal Rogue-like tileset v1.81 with the awesomesauce palette by DawnBringer<br/><br/>

      How to play<br/><br/>
      Use the cursor keys to move around and collect all the coins.<br/>
      If you touch a monster, it dies. If a monster touches you, you loose one of 3 hit points.<br/>

    </div>

    <div class="scroll_lower_row">
      <div class="scroll_cdl"></div>
      <div class="scroll_cdr"></div>
    </div>

  </div>
  <sv-viewport [map]="dungeonMaps[selectedMap]" [availableCoins]="availableCoins" (mapChanged)="changeMap($event)"></sv-viewport>

</div>
