<div style="margin-bottom: 20px">
  <div (click)="toggleModal(true, false)">Readme!</div>
  <div *ngIf="modal"
       class="modalWrapper"
       (click)="toggleModal(false)">

    <div class="scroll_upper_row">
      <div class="scroll_cul"></div>
      <div class="scroll_cur"></div>
    </div>

    <div class="scroll">
      Credits<br/><br/>

      * Started from Angular 5 min quickstart (TS)<br/>
      * Ported to be built with Angular cli<br/>
      * Uses tiles and sprites from DawnLike - 16x16 Universal Rogue-like tileset v1.81 with the awesomesauce palette by DawnBringer<br/><br/>
      * Catchy chiptune by Alexander under CC BY-NC-SA 3.0 license (http://www.orangefreesounds.com/8-punk-8-bit-music/)<br/><br/>

      How to play<br/><br/>
      &lt;insert interesting backstory here&gt;<br/><br/>
      Use the cursor keys to move around and collect all the coins.<br/>
      If you touch a monster, it dies. If a monster touches you, you loose one of 3 hit points.<br/>

    </div>

    <div class="scroll_lower_row">
      <div class="scroll_cdl"></div>
      <div class="scroll_cdr"></div>
    </div>

  </div>
  <div *ngIf="victory"
       class="modalWrapper"
       (click)="toggleVictoryModal(false)">

    <div class="scroll_upper_row">
      <div class="scroll_cul"></div>
      <div class="scroll_cur"></div>
    </div>

    <div class="scroll">
      Victory!<br/><br/>

      Look at you! 4 coins! What are you going to spend all that money on?<br/><br/>

      If we would have had another 48 hours, ^^ you would have moved on to level 2!<br/>
      We didn't, though, so you'll have to wait for us to win, so we get some free hosting<br/><br/>
      See you in version 2.0<br/>
      <br/>
      Alternatively, you can click this scroll to enjoy this level all over again!<br/>
    </div>

    <div class="scroll_lower_row">
      <div class="scroll_cdl"></div>
      <div class="scroll_cdr"></div>
    </div>

  </div>
  <div *ngIf="defeat"
       class="modalWrapper"
       (click)="toggleDefeatModal(false)">

    <div class="scroll_upper_row">
      <div class="scroll_cul"></div>
      <div class="scroll_cur"></div>
    </div>

    <div class="scroll">
      Defeat!<br/><br/>
      We tried to make it really hard, but you did it! You. Actually. Died.<br>
      <br/><br/>
      Click this scroll to try again.<br/>
    </div>

    <div class="scroll_lower_row">
      <div class="scroll_cdl"></div>
      <div class="scroll_cdr"></div>
    </div>

  </div>

  <sv-viewport  (objectiveReachedEvent)="toggleVictoryModal(true)" (gameOverEvent)="toggleDefeatModal(true)" [map]="dungeonMaps[selectedMap]" [availableCoins]="availableCoins" (mapChanged)="changeMap($event)"></sv-viewport>

</div>
