
@-webkit-keyframes swap {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -128px;
  }
}



.player {
  background-image: url('app/resources/player3.png');
  width: 64px;
  height: 64px;

  -webkit-animation: swap .8s steps(2) infinite;
}

.SS {
  background-image: url('app/resources/spider.png');
  width: 64px;
  height: 64px;

  -webkit-animation: swap .6s steps(2) infinite;
}

.BB {
  background-image: url('app/resources/bat.png');
  width: 64px;
  height: 64px;

  -webkit-animation: swap .6s steps(2) infinite;
}

.Platino {
  background-image: url('app/resources/platino.png');
  width: 64px;
  height: 64px;

  -webkit-animation: swap .6s steps(2) infinite;
}


