@import url('floor.css');
@import url('wall.css');
@import url('characters.css');

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}





.a {
  background-blend-mode: color-burn;
  background-color: black;
  background-image: url('app/resources/floor_3.png');
  width: 64px;
  height: 64px;
}



