@import url('floor.css');
@import url('wall.css');
@import url('characters.css');

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

@font-face {
  font-family: '8-bit_small';
  src: url('app/resources/SDS_6x6.ttf');
}

@font-face {
  font-family: '8-bit';
  src: url('app/resources/SDS_8x8.ttf');
}



body {
  margin: 2em;
  font-family: '8-bit';
}


body, input[text], button {
  color: #e4e4e4;
  background-color: black;
}





.a {
  background-blend-mode: color-burn;
  background-color: black;
  background-image: url('app/resources/floor_3.png');
  width: 64px;
  height: 64px;
}





