@import url('floor.css');
@import url('wall.css');
@import url('characters.css');

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

@font-face {
  font-family: '8-bit_small';
  src: url('app/resources/SDS_6x6.ttf');
}

@font-face {
  font-family: '8-bit';
  src: url('app/resources/SDS_8x8.ttf');
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 20px;
  font-family: '8-bit';
  height: 90%;
}


body, input[text], button {
  color: #e4e4e4;
  background-color: black;
}

.splashWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.splashRow {
  display: flex;
  flex-shrink: 0;
}

.splashBanner {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  font-size: 27px;
  align-items:center;
}

.splashLoading {
  height: 500px;
  font-size: 27px;
  align-items: center;
  justify-content: center;
  display: flex
}

.splashFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gamearea {
  align-self: center;
  align-items: center;
  flex-grow: 1;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-shrink: 0;

}

.logbox {
  padding-left: 20px;
  height: 400px;
  width: 300px;
  overflow-y:auto;
  font-family: '8-bit_small';
  list-style: none;
}

.logmessage {
  font-size: 12px;
  padding-top: 6px;
}

.angular {
  background-image: url('/app/resources/angular.png');
  width: 128px;
  height: 128px;
}



.al {
  background-image: url('app/resources/floor_hole_left.png');
  width: 64px;
  height: 64px;
}

.a {
  background-color: black;
  width: 64px;
  height: 64px;
}

.ar {
  background-image: url('app/resources/floor_hole_right.png');
  width: 64px;
  height: 64px;
}

.modalWrapper {
  width: 90%;
  height: 50%;
  position: absolute;
  margin-left: 5%;
  left: 0; display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.scroll_upper_row {
  display: flex;
  justify-content: space-between;
  margin-bottom:-14px
}
.scroll {
  background-color: rgba(219, 215, 93, 0.95);
  margin-left: 2px;
  border: 5px solid #864D30;
  flex-grow: 1;
  z-index:1;
  color:#864D30;
  display:flex;
  align-items: center;
  justify-content: center;
}

.scroll_lower_row {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
}
.scroll_cul {
  background-image: url('app/resources/scroll_ulc.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 28px;
}
.scroll_cur {
  background-image: url('app/resources/scroll_corner_upper_right.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 28px;
}
.scroll_cdl {
  background-image: url('app/resources/scroll_corner_left_down.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 28px;
}
.scroll_cdr {
  background-image: url('app/resources/scroll_corner_down_right.png');
  background-repeat: no-repeat;
  width: 50px;
  height: 28px;
}



