.w_cul {
  background-image: url('app/resources/wall_corner_upper_left.png');
  background-size:contain;
  width: 64px;
  height: 64px;
}

.w_cur {
  background-image: url('app/resources/wall_corner_upper_right.png');
  background-size:contain;

  width: 64px;
  height: 64px;
}

.w_cdl {
  background-image: url('app/resources/wall_corner_down_left.png');
  background-size:contain;

  width: 64px;
  height: 64px;
}

.w_cdr {
  background-image: url('app/resources/wall_corner_down_right.png');
  background-size:contain;

  width: 64px;
  height: 64px;
}


.w_b {
  background-image: url('app/resources/wall_b.png');
  background-size:contain;

  width: 64px;
  height: 64px;
}

.w_a {
  background-image: url('app/resources/wall_a.png');
  background-size: contain;

  width: 64px;
  height: 64px;
}


.door {
  background-image: url('app/resources/door.png');
  background-size: contain;

  width: 64px;
  height: 64px;
}

.door_open {
  background-image: url('app/resources/door_open.png');
  background-color: black;
  background-size: contain;

  width: 64px;
  height: 64px;
}
